<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- timeoutMinutes 1-5 minutes inclusive -->
    <add key="timeoutMinutes" value="5"/>
    <!-- delayTimer 1-5 minutes inclusive -->
    <add key="delayTimer" value="5"/>
    <!-- software catalog virtual directory name (ex: CmApplicationCatalog)-->
    <add key="SoftwareCatalogVirtualDirectory" value="cmapplicationcatalog"/>
    <!-- software catalog web service file name (ex: file.asmx) -->
    <add key="SoftwareCatalogWebServiceFile" value="ApplicationViewService.asmx"/>
    <!-- max message size (increase this number if you see 'Max Limit' error messages in AppInstall.log) -->
    <add key="MaxReceivedMessageSize" value="100000000"/>

    <add key="TsAppInstall" value="TsAppInstall"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0.30319"/>
  </startup>
</configuration>