<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="headerImagePath" value="images\\SABanner.bmp"/>
    <add key="backgroundWallpaper" value="images\\Wallpaper.jpg"/>
    <add key="welcomeText" value="Congratulations, your computer has been successfully deployed. Select the available tabs to see a summary of the deployment process.  If you experience any difficulties with your new operating system, please call your help desk."/>
    <add key="completedText" value="Deployment Complete"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="backgroundOpacity" value="0.8"/>
    <add key="timeoutMinutes" value="0"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0.30319"/>
  </startup>

</configuration>